<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SferaWinFormsApp.Properties.Settings.DataBase_AppConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Pliki_Szablonowe\DataBase_App.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SferaWinFormsApp.Properties.Settings.PathFile" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SferaWinFormsApp.Properties.Settings.Baza_Ap" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database2.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SferaWinFormsApp.Properties.Settings.Nexo_Demo_1ConnectionString"
            connectionString="Data Source=GARTENLAND13\SQLEXPRESS;Initial Catalog=Nexo_Demo_1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>